li{
    float: left;
    text-decoration: gold;
    text-align: center;
    display: block;
}
li,a{
    padding: 20px;
}
li,a:hover{
    color: coral;
}
.fruits{
    text-align: center;
    border: 2px solid red;
    margin: 15px;
    padding: 15px;
}
.FRUITS{
    text-align: center;
    border: 2px solid blue;
    margin: 15px;
    padding: 15px;
}
#fruits{
    text-align: center;
    border: 2px solid blue;
    margin: 15px;
    padding: 15px;
    font-family: Ani;
}
#chevrolet{
        text-align: center;
    border: 2px solid red;
    margin: 15px;
    padding: 15px;
    font-family: "Century Schoolbook L";
}
#nissan{
    text-align: center;
    border: 2px solid burlywood;
    margin: 15px;
    padding: 15px;
    font-family: "Fira Code";
}
#fruits,h2{
    font-family: Ani;
}



